<head>
    <link rel="stylesheet"
    type="text/css"
    href="/css/styles.css">
</head>

<h1>Cuckoo</h1>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/about">About</a></li>

<h1>ABOUT PAGE</h1>