<head>
    <link rel="stylesheet"
    type="text/css"
    href="/css/appStyles.css">
</head>

<div class="taskbar">
    <h1>Cuckoo</h1>
    <div class="taskbarOptions">
        <a href="/profile">Profile</a>
        <a href="/social">Social</a>
        <a href="/feed">Feed</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<h1>FEED PAGE</h1>