<head></head>
    <link rel="stylesheet" type="text/css" href="/css/appStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/groupStyles.css">
</head>

<div class="taskbar">
    <h1>Cuckoo</h1>
    <div class="taskbarOptions">
        <a href="/profile">Profile</a>
        <a href="/social">Social</a>
        <a href="/feed">Feed</a>
        <a href="/logout">Logout</a>
    </div>
</div>
<div class="center-container">
    <div id="groupsList">
        <ul>
            <% if (groups.length > 0) { %>
                <% groups.forEach(group => { %>
                    <li>
                        <img src="/uploads/<%= group.profileImage || 'default-group.jpg' %>" alt="Group Icon">
                        <a href="#"> <%= group.groupName %> </a>
                    </li>
                <% }); %>
            <% } else { %>
                <li>No groups found. Create one now!</li>
            <% } %>
        </ul>
    </div>


    <button id="createGroupBtn">Create group</button>
</div>

<div id="createGroupModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('createGroupModal').style.display='none'">&times;</span>
        <h2>Create a New Group</h2>
        <form id="createGroupForm">
            <label for="groupName">Group Name:</label>
            <input type="text" id="groupName" name="groupName" required>
            
            <button class="createBtn" type="submit">Create Group</button>
        </form>
    </div>
</div>
<script src="/js/groups.js"></script>
